<%= form_for @item, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iso_9999_v2011_category, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :iso_9999_v2011_category, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :solves_problem, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :solves_problem, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :associated_diagnosis, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :associated_diagnosis, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :seller, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :seller, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  items_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
