<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Iso 9999 v2011 category:</strong>
  <%= @item.iso_9999_v2011_category %>
</p>

<p>
  <strong>Solves problem:</strong>
  <%= @item.solves_problem %>
</p>

<p>
  <strong>Associated diagnosis:</strong>
  <%= @item.associated_diagnosis %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @item.seller %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
